#root {
  color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#root > * {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 10px;
}

.card {
  border: 2px solid grey;
}

#search-div {
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  height: 300px;
}
#search-bar {
  border: 2px solid grey;
  height: 20px;
  width: 200px;
  margin-top: 20px;
}
